{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["Chrome >= 28", "ie >= 9", "Firefox >= 41"]
      }
    }],
    "stage-2"
  ],
  "plugins": ["transform-runtime"],
  "env": {
    "test": {
      "presets": ["env", "stage-2"],
      "plugins": ["istanbul"]
    }
  },
  "ignore":["./assets/lib/webuploader-0.1.5/webuploader.js"]
}
